apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: final-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: final-secret
              key: MYSQL_ROOT_PASSWORD   # FIXED
        - name: MYSQL_DATABASE
          value: blogdb
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: final-app
spec:
  ports:
  - port: 3306
  selector:
    app: mysql
